.repository-container__item {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.button-container__edit-button {
  background: green;
}

.button-container__delete-button {
  background: red;
}
